<div fxLayout fxLayoutAlign="space-between" class="dialog-title-wrapper">
    <h1 mat-dialog-title>Filter Expenses</h1>
    <button class="cross-button" mat-raised-button (click)="onCancel()">
        <mat-icon class="icon-display">close</mat-icon>
    </button>
</div>
<div mat-dialog-content>
    <h5>Status:</h5>
    <section class="app-section" [formGroup]="status">
        <mat-checkbox formControlName="0">Active</mat-checkbox>
        <mat-checkbox formControlName="1">Pending Approval</mat-checkbox>
        <mat-checkbox formControlName="2">Waiting Compensation</mat-checkbox>
    </section>

    <div class="select-row">
        <div class="select-wrapper">
            <h5>Phase:</h5>
            <mat-form-field appearance="fill">
                <mat-label>Select one or more phases</mat-label>
                <mat-select
                    disableOptionCentering
                    [formControl]="phase"
                    multiple
                >
                    <mat-option
                        *ngFor="let phase of phaseOptions"
                        [value]="phase"
                        >{{ phase }}</mat-option
                    >
                </mat-select>
            </mat-form-field>
        </div>

        <div class="select-wrapper">
            <h5>Month:</h5>
            <mat-form-field appearance="fill">
                <mat-label>Select one or more months</mat-label>

                <mat-select
                    disableOptionCentering
                    [formControl]="month"
                    multiple
                >
                    <mat-option
                        *ngFor="let month of monthOptions"
                        [value]="month"
                        >{{ month }}</mat-option
                    >
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-actions fxLayout fxLayoutAlign="end" class="dialog-buttons">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="onApply()" cdkFocusInitial>Apply</button>
</div>
