.app-section {
    display: flex;
    align-content: center;
    height: 60px;
}

.select-row {
    display: flex;
}

.select-wrapper {
    width: 300px;
    margin-right: 30px;
}

h5 {
    margin-bottom: 7px;
}

.cross-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: rgb(0, 153, 255);
}

.icon-display {
    transform: scale(1.7);
}

@media (max-width: 848px) {
    .mat-dialog-content {
        width: unset;
        height: unset;
    }

    .app-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 5px;
    }

    .select-row {
        flex-direction: column;
    }

    .mat-dialog-actions {
        padding-top: 30px !important;
    }

    .select-wrapper {
        width: 230px;
        margin-right: 0px;
    }
}
