.search-form-wrapper {
    background-color: rgb(223, 223, 223);
    padding: 10px;
}

.app-full-width {
    margin: auto;
}

.input-wrapper {
    display: inline-block;
    width: fit-content;
}

.app-form button {
    background-color: rgb(0, 0, 0, 0);
    border: none;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    color: inherit;
}

.button-wrapper {
    display: inline-block;
    margin-left: 10px;
    color: rgb(0, 153, 255);
}

.button-wrapper div {
    height: 100%;
    width: 100%;
}

.app-chip-list {
    display: inline-block;
    overflow: scroll;
    flex-grow: 10;
    margin-top: -4px;
}

.search-icon {
    color: rgb(0, 153, 255);
}

.app-form {
    display: flex;
}

.app-form .button-wrapper {
    margin-top: auto;
    margin-bottom: auto;
    flex-grow: 1;
}

.app-form .mat-form-field {
    margin-top: auto;
    margin-bottom: auto;
}

.button-clear-filters-wrapper {
    white-space: nowrap;
    display: flex;
}

.button-clear-filters-wrapper button {
    color: rgb(0, 153, 255);
    margin: auto;
}

@media (max-width: 725px) {
    .app-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content 1fr min-content;
    }

    .button-wrapper {
        margin: auto;
    }
}
