<div class="search-form-wrapper">
    <form class="app-form">
        <div class="input-wrapper">
            <mat-form-field class="app-full-width" appearance="fill">
                <mat-label>Search for Name</mat-label>
                <input
                    type="text"
                    aria-label="Number"
                    matInput
                    [formControl]="searchField"
                    [matAutocomplete]="auto"
                    (keyup)="filterByName($event.target.value)"
                />
                <mat-icon matSuffix class="search-icon">search</mat-icon>
                <mat-autocomplete
                    #auto="matAutocomplete"
                    (optionSelected)="filterByName($event.option.value)"
                >
                    <mat-option
                        *ngFor="let option of filteredOptions | async"
                        [value]="option"
                    >
                        {{ option }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div class="button-wrapper">
            <div fxLayout (click)="openDialog()">
                <mat-icon>tune</mat-icon>
                <button mat-raised-button (click)="openDialog()">
                    Filters
                </button>
            </div>
        </div>

        <div class="app-chip-list" *ngIf="filters.length">
            <mat-form-field appearance="fill">
                <mat-chip-list #chipList>
                    <mat-chip
                        *ngFor="let filter of filters"
                        (removed)="removeChip(filter)"
                    >
                        {{ chipTitle(filter) }}
                        <button matChipRemove>
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-chip>
                </mat-chip-list>
            </mat-form-field>
        </div>

        <div class="button-clear-filters-wrapper" *ngIf="filters.length">
            <button mat-raised-button (click)="clearFilters()">
                Clear Filters
            </button>
        </div>
    </form>
</div>
