<app-layout>
    <section fxLayout="column" fxFlexAlign="stretch">
        <p>Financial Management • CAPEX Management</p>
        <h1>CEMEX Go Online Stores</h1>

        <app-filters-form [table]="this"></app-filters-form>

        <div class="total-wrapper">
            <h1>Total: {{ totalCost | currency }} USD</h1>
        </div>

        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element">
                    <span class="mobile-label">Status:</span>
                    <div class="status-col-value">
                        <div
                            [ngClass]="[
                                'rect',
                                element.status === 0
                                    ? 'green'
                                    : element.status === 1
                                    ? 'blue'
                                    : 'orange'
                            ]"
                        ></div>
                        {{ element.statusText }}
                    </div>
                </td></ng-container
            >

            <ng-container matColumnDef="supplierName">
                <th mat-header-cell *matHeaderCellDef>Supplier Name</th>
                <td mat-cell *matCellDef="let element">
                    <span class="mobile-label">Supplier Name:</span>
                    {{ element.supplierName }}
                </td>
            </ng-container>

            <ng-container matColumnDef="month">
                <th mat-header-cell *matHeaderCellDef>Month</th>
                <td mat-cell *matCellDef="let element">
                    <span class="mobile-label">Month:</span>{{ element.month }}
                </td>
            </ng-container>

            <ng-container matColumnDef="phase">
                <th mat-header-cell *matHeaderCellDef>Phase</th>
                <td mat-cell *matCellDef="let element">
                    <span class="mobile-label">Phase:</span>{{ element.phase }}
                </td>
            </ng-container>

            <ng-container matColumnDef="internalOrder">
                <th mat-header-cell *matHeaderCellDef>Internal Order</th>
                <td mat-cell *matCellDef="let element">
                    <span class="mobile-label">Internal Order:</span
                    >{{ element.internalOrder }}
                </td>
            </ng-container>

            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>Amount (USD)</th>
                <td mat-cell *matCellDef="let element">
                    <span class="mobile-label">Amount (USD):</span
                    >{{ element.amount | currency }}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </section>
</app-layout>
