section {
    margin: 40px;
}

section p {
    color: darkslategray;
    font-size: 20px;
    text-align: start;
}

section > h1 {
    margin: 0 0 20px 0;
}

section > .total-wrapper {
    text-align: end;
}

.total-wrapper h1 {
    font-weight: 500;
}

table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}

.rect {
    height: 15px;
    width: 25px;
    display: inline-block;
    margin-right: 5px;
}

.green {
    background-color: rgb(0, 192, 86);
}

.blue {
    background-color: rgb(0, 140, 233);
}

.orange {
    background-color: rgb(255, 196, 0);
}

.status-col-value {
    display: flex;
}

.mobile-label {
    display: none;
}

@media (max-width: 725px) {
    section {
        margin: 22px;
    }
}
