.layout-wrapper {
    background-color: ghostwhite;
    height: 100%;
}
.flex-wrapper {
    height: 100%;
}

.site-head {
    height: 60px;
    background-color: rgb(6, 6, 83);
    border-bottom: 3px solid darkorange;
}

@media (max-width: 725px) {
    .layout-wrapper {
        min-height: 100%;
        height: fit-content;
    }
}
