html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

button {
    cursor: pointer;
}

.mat-form-field-wrapper {
    padding: 0;
}

.mat-form-field-appearance-fill,
.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white;
}

.mat-form-field-underline {
    display: none;
}

th.mat-header-cell {
    background-color: rgb(0, 0, 0, 0);
    color: black !important;
    vertical-align: bottom;
    border-bottom: none !important;
}

table.mat-table {
    background-color: rgb(0, 0, 0, 0);
    border-spacing: 0px 7px !important;
}

.mat-row {
    background-color: white;
    box-shadow: 3px 3px 3px gainsboro;
}

tr.mat-header-row {
    height: 20px !important;
}

.mat-column-amount {
    text-align: right !important;
    color: black !important;
}

.mat-cell {
    font-weight: 500;
    color: gray;
}

.input-wrapper .mat-form-field {
    border-radius: 3px !important;
    border: 1px solid rgb(0, 0, 0, 0.6);
}

/* Dialog styles */

.mat-form-field-flex {
    border-radius: 3px !important;
}

.select-row .mat-form-field-infix {
    padding: 2px !important;
    border-top: 14px solid rgba(0, 0, 0, 0);
}

.mat-dialog-content {
    width: 900px;
    height: 250px;
}

section mat-checkbox {
    margin-right: 30px;
}

.select-wrapper .mat-form-field-flex {
    border: 1px solid grey;
    border-radius: 3px;
}

.select-wrapper .mat-form-field {
    width: 100%;
}

.dialog-buttons button:first-child {
    margin-right: 20px;
}

.dialog-buttons button:last-child {
    background-color: rgb(0, 153, 255);
    color: white !important;
}

.dialog-buttons button {
    background-color: rgb(0, 0, 0, 0);
    color: rgb(0, 153, 255) !important;
    border: 1px solid rgb(0, 153, 255);
    border-radius: 3px;
    height: 35px;
    width: 75px;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    color: inherit;
}

.mat-dialog-title {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

.mat-form-field-label {
    color: rgb(0, 0, 0, 0.6) !important;
}

/* checkboxes */

.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent
    .mat-ripple-element,
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent
    .mat-ripple-element {
    background: rgb(0, 153, 255);
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: rgb(0, 153, 255);
}

/*  Chips  */

.mat-chip:hover {
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
        0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.mat-chip.mat-standard-chip::after {
    background-color: white !important;
}

.mat-chip {
    background-color: white !important;
    border-radius: 3px !important;
    white-space: nowrap;
}

.mat-chip-list-wrapper {
    flex-wrap: nowrap !important;
}

.app-chip-list .mat-form-field-appearance-fill,
.app-chip-list .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgb(0, 0, 0, 0);
    padding-top: 0px;
}

.app-chip-list .mat-form-field-infix {
    padding-bottom: 0px !important;
}

.mat-chip-remove {
    color: rgb(0, 153, 255) !important;
    opacity: 1 !important;
}

/* Dialog dropdown */

.mat-pseudo-checkbox {
    display: none !important;
}

.mat-selected .mat-option-text {
    color: rgb(0, 153, 255) !important;
}

.mat-select-panel {
    border-top: 3px solid rgb(0, 153, 255);
    min-width: calc(100% + 25px) !important;
    margin-top: 30px !important;
    margin-left: 27px !important;
}

/* Mobile view */

@media (max-width: 725px) {
    .mobile-label {
        width: 80px !important;
        display: inline-block !important;
        font-weight: bold !important;
        white-space: nowrap;
        margin-right: 15px;
        flex-grow: 1;
        text-align: left;
    }

    .mat-header-row {
        display: none !important;
    }

    .mat-table {
        min-width: unset !important;
        border-spacing: 0 !important;
    }

    .mat-cell {
        border: none !important;
        width: 100%;
        display: flex;
        padding-left: 0px !important;
        margin-bottom: 5px;
    }

    .status-col-value {
        display: inline-flex !important;
    }

    .mat-row {
        display: flex;
        height: inherit !important;
        flex-direction: column !important;
        align-items: flex-start !important;
        padding: 8px 24px !important;
        border: 1px solid rgba(0, 0, 0, 0.12);
        margin-bottom: 7px;
    }

    .input-wrapper .mat-form-field-infix {
        padding-bottom: 4px !important;
    }

    .input-wrapper .mat-form-field-wrapper {
        padding: 6px;
    }

    /* Chips */
    .mat-form-field-flex {
        padding: 0 !important;
    }

    ::-webkit-scrollbar {
        display: none !important; /* for Chrome, Safari, and Opera */
    }

    .mat-chip-list-wrapper {
        flex-wrap: wrap !important;
    }

    .mat-chip {
        white-space: break-spaces;
    }
}
